.card-body {
    height: 200px!important;
}
.imageModal {
    width: 100%!important;
    height: 100%!important;
}
.photo  {
    margin: 20px 0;
}
.buttonDelete {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 0 8px;
    margin-top: 8px;
}